.toolbox-button {
  flex-direction: column;
  border-radius: var(--tb-btn-border-radius);
  border-style: solid;
  border-width: 0.1rem;
  box-shadow: inset -0.1rem -0.1rem 5px #000000;
  border-color: var(--tb-btn-border-color);
  color: white;
  font-family: "VT323", monospace;
  font-size: x-large;
  background-color: var(--tb-btn-main-bg-color);
  width: 70px;
  height: 78px;
  cursor: pointer;
}

.toolbox-button:hover {
  border-color: var(--tb-btn-border-color-hover);
  background-color: var(--tb-btn-main-bg-color-hover);
}

.toolbox-button-selected {
  flex-direction: column;
  border-radius: var(--tb-btn-border-radius);
  border-style: solid;
  box-shadow: inset 0.1rem 0.1rem, 0.1rem, 0.1rem 0 #000000;
  border-color: var(--tb-btn-border-color-selected);
  color: var(--tb-btn-color-selected);
  font-family: "VT323", monospace;
  font-size: x-large;
  background-color: var(--tb-btn-main-bg-color-selected);
  width: 70px;
  height: 78px;
  cursor: pointer;
}
